.shake {
	animation: shake 1.1s cubic-bezier(.36, .07, .19, .97) both;
	backface-visibility: hidden;
	perspective: 1000px;
	transform: translate3d(0, 0, 0);
}

#contact-wrapper {
	border: 5px solid rgb(84, 84, 84);
	background-color: white;
	padding: 2.5rem 0.8rem;
	border-radius: 3rem;
}

body {
	background-image: url(/assets/img/tasty-american-beer-composition.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

textarea#message {
	max-height: 22rem;
	min-height: 9rem;
}

@keyframes shake {

	10%,
	90% {
		transform: translate3d(-2px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(4px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-20px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(20px, 0, 0);
	}
}