.card-img-top {
	width: 8rem;
	padding-bottom: 1.5rem;
	padding-top: 1.3rem;
}

.card ul.list-group {
	border-top: none;
}

a:link,
a:visited,
a:active {
	color: black;
	text-decoration: none;
}

#carouselBeer {
	max-width: auto;
	max-height: auto;
	margin: 10px auto;
}