.shake {
	animation: shake 1.1s cubic-bezier(.36, .07, .19, .97) both;
	backface-visibility: hidden;
	perspective: 1000px;
	transform: translate3d(0, 0, 0);
}

.section-login {
	background-color: #F7F6F0;
}