#squareLeft {
	background-color: #d59601f2;
	border: 20px;
}

#squareLeft2 {
	background-color: #37220ff2;
	color: #d69601;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}
.main-about-1 {
	background-color: #d59601f2;
}
.main-about-2 {
	background-color: #37220ff2;
}
.main-about-3 {
	background-color: #f7f6f0;
}
.main-about-4 {
	background-color: #b96a25;
}

.main-about-5 {
	background-color: #657733;
}
